<h2>Please Add a new Recipe</h2>
<form action="/processRegister" method=POST>
        <label>
             Recipe Name:
             <input type="text" name="recipename" />
        </label>    
        <label>
            Instructions:
                <input type="text" name="instruction" />
        </label>   
        <label>
                Dish Type:
                    <input type="text" name="dishtype" />
            </label>   
            <label>
                
                Preparation Time:
                    <input type="text" name="preparationtime" />
            </label>  
            <label>
                
                    recipe Origin:
                        <input type="text" name="recipeorigin" />
                </label>  
            <label>
                        <input type="submit" name="submit" />
                </label>  
    </form>