
 {%extends 'base.html'%}
{%block content %}
           <h1> {{title}}</h1> 
          <div>Recipe instructions: 
            <p>{{instruction}}</p></div>  
          <div><img src="{{ image}}" alt="recipe image"> </div>
          <div>likes: {{likes}}</div> 
          {% if video %}  
          <div> Recipe video:</div>  
          <iframe id="video" width="420" height="315" src="https://www.youtube.com/embed/{{video['youTubeId']}}" frameborder="0" allowfullscreen></iframe>
          {%  endif %}
            
    <form action="/recipes/{{ recipe_id }}" method="POST">
        <button type="submit" class="btn btn-success">
        
        
          <i class="heart fa fa-heart-o"></i>
        
        </button>
     </form>
     
    {%endblock%}