{%extends 'base.html'%}
{%block content %}
<div id="parent-container">
  <div class="vertical">
    <div>
      <img src="{{ image}}" alt="recipe image">
    </div>
    <div><br>
        {% if video %}
      <div></div>
      <iframe id="video" width="556" height="370" src="https://www.youtube.com/embed/{{video['youTubeId']}}"
        frameborder="0" allowfullscreen></iframe>
      {%  endif %}
    </div>

  </div>
  <div class="vertical">
    <div>
      <h1 id="recipetitle"> {{title}}</h1>
      <div>Recipe instructions:
        <p>{{instruction}}</p>
      </div>
      <div> </div>
    
      <form action="/recipes/{{ recipe_id }}" method="POST">
        <button type="submit" class="btn btn-default">
          <i class="fas fa-heart"></i>
        </button>
      </form>
    </div>

    <div>
      <h2>Ingredients</h2>
      <ul>
      {% for item in ingredients %}
        <li>{{item['name']}}</li>
      {% endfor %}
    </ul>
    </div>

  </div>
</div>


{%endblock%}