{% extends 'base.html' %}
{% block content%}
<h2>My favorite recipes</h2>
<div class="recipe">
      {%for favorite in userfavorites%}
     
          <div class="card" style="width:18rem; margin-top: 4rem">
              <img class="card-img-top" style="height: 300px" src={{favorite.image}} alt="Card image cap" />
              <div class="card-body">
                  <h5 class="card-title"> {{favorite.recipe_name}}</h5>
                  {% if favorite.instructions %}
                   <p class="card-text"> {{favorite.instructions[:100]}} ...</p>
                  {% endif %}
                
                  <a href="/recipes/{{favorite.recipe_id}}" class="btn btn-primary">Recipe Info</a>
              </div><br>         
          {%endfor%}
      </div>
      {%endblock%}